<footer section-id="{{ sectionId }}" class="bg-[#246d64] mt-auto">

  

  {# top #}
  {% set footer_settings = settings %}
  {% include 'components/footer_top.jinja' %}

  
  {# <div class="divider">{{ store.name }}</div> #}

  {# bottom #}
  {% set footer_settings = settings %}
  {% include 'components/footer_bottom.jinja' %}


</footer>
