<div class="layout flex flex-col lg:flex-row justify-center items-center flex-wrap gap-3 py-y lg:py-5">

   <div class="text-center lg:text-start text-[#fff] my-3 sm:my-5">
        {% if footer_settings.store_copyright %}
                <span class="">{{ footer_settings.store_copyright }}</span>
        {% endif %}  
   </div>

</div>