
 <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-200 text-base-content min-h-full w-80  flex flex-col">
          <!-- Sidebar content here -->
          <div class="flex flex-col items-center gap-3 p-4">
              <a href="/" class="logo ">
                {% if ab_settings.header_logo %}
                    {% set logoUrl = ab_settings.header_logo %}
                {% else %}
                    {% set logoUrl = store.settings.branding.logo %}
                {% endif %}

                {% if ab_settings.header_logo_mobile %}
                    {% set logoUrlMobile = ab_settings.header_logo_mobile %}
                {% else %}
                    {% set logoUrlMobile = store.settings.branding.logo %}
                {% endif %}

                <img class="hidden md:block w-[180px] h-[55px] object-contain" src="{{ image_url(logoUrl, h=175, q=85, f='auto') }}" alt="{{ store.name }}">

                <img class="block md:hidden w-[180px] h-[55px] object-contain" src="{{ image_url(logoUrlMobile, h=175, q=85, f='auto') }}" alt="{{ store.name }}">
              </a>
              <div class="flex flex-wrap items-center justify-center gap-5 mt-3">
                 {% include "components/header_social_media.jinja" %} 
              </div>
          </div>
           <ul class="menu bg-base-200 rounded-box w-56 mt-3 p-4">
               {% for menu in store.settings.menus.main_menu.items %}
                    {% if menu.url %}
                        {%  if menu.items | length > 0 %}
                          <li class="mt-3">
                            <details>
                              <summary>
                                  <a class="nav_link"  href="{{ menu.url }}">
                                        {{ menu.label }}
                                  </a>
                              </summary>
                              <ul class="mt-3">           
                                {% for sub_menu in menu.items %}                                         
                                        {% if sub_menu.items | length > 0  %}
                                            <li class="mt-3">
                                                <details>
                                                  <summary>{{ sub_menu.label }}</summary>
                                                  <ul class="mt-3">                                        
                                                    {% for sub_menu_sub in sub_menu.items %}
                                                        <li class="mt-3">
                                                              <a class="nav_link  hover:text-secondary "  href="{{ sub_menu_sub.url }}">
                                                              {{ sub_menu_sub.label }}
                                                              </a>
                                                          </li>
                                                    {% endfor %}
                                                  </ul>
                                                </details>
                                              </li>
                                         {% else %}
                                              <li>
                                                  <a class="nav_link  hover:text-secondary "  href="{{ sub_menu.url }}">
                                                  {{ sub_menu.label }}
                                                  </a>
                                              </li>
                                        {% endif %}
                                {% endfor %}
                              </ul>
                            </details>
                          </li>
                    
                            
                        {% else %}
                          <li class="mt-3">
                              <a class="hover:text-secondary"  href="{{ menu.url }}">
                              {{ menu.label }}
                              </a>
                          </li>
                      {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
             <div class="flex flex-col gap-3 bg-base-300 mt-auto p-4">
              {% if customer %}
                  <button type="button" onclick="window.location.href='/account-profile'" class="flex items-center gap-3">                        
                              <div class="icon">
                                  <svg class="stroke-current" width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>   
                              </div>
                              <span>{{ customer.name }}</span>
                    </button>
                   
                  {% else %}                   
                        <button type="btton" onclick="window.location.href='/auth/login'" class="flex gap-3 items-center">
                            <div class="icon">
                                  <svg class="stroke-current" width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>   
                            </div>
                            <span>
                            {{ _("Login") }}
                            </span>
                        </button>
                 {% endif %}
                 {% if not ('hide_language' in ab_settings.header_options) %}
                      {% if session.lang.code == 'ar' %}
                                    <button  class="en  change-language flex gap-[8px] items-center stroke-current" data-code="en" type="button">
                                        <div class="icon">
                                          <svg width="25" height="25" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M24.9998 46.3333C36.5057 46.3333 45.8332 37.0058 45.8332 25.5C45.8332 13.9941 36.5057 4.66666 24.9998 4.66666C13.4939 4.66666 4.1665 13.9941 4.1665 25.5C4.1665 37.0058 13.4939 46.3333 24.9998 46.3333Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M16.6667 6.75H18.75C14.6875 18.9167 14.6875 32.0833 18.75 44.25H16.6667"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M31.25 6.75C35.3125 18.9167 35.3125 32.0833 31.25 44.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M6.25 33.8333V31.75C18.4167 35.8125 31.5833 35.8125 43.75 31.75V33.8333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M6.25 19.2502C18.4167 15.1877 31.5833 15.1877 43.75 19.2502"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>

                                        </div>
                                        <span>English</span>
                                    </button>
                      {% endif %}
                      {% if session.lang.code == 'en' %}
                                <button  class="ar   change-language  flex gap-[8px] items-center" data-code="ar" type="button" >
                                    <div class="icon ">
                                      <svg class="stroke-current" width="25" height="25" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M24.9998 46.3333C36.5057 46.3333 45.8332 37.0058 45.8332 25.5C45.8332 13.9941 36.5057 4.66666 24.9998 4.66666C13.4939 4.66666 4.1665 13.9941 4.1665 25.5C4.1665 37.0058 13.4939 46.3333 24.9998 46.3333Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M16.6667 6.75H18.75C14.6875 18.9167 14.6875 32.0833 18.75 44.25H16.6667"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M31.25 6.75C35.3125 18.9167 35.3125 32.0833 31.25 44.25"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M6.25 33.8333V31.75C18.4167 35.8125 31.5833 35.8125 43.75 31.75V33.8333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M6.25 19.2502C18.4167 15.1877 31.5833 15.1877 43.75 19.2502"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                    </div>
                                    <span class="lang ">عربي</span>
                                </button>
                        {% endif %}
                                        
                    {% endif %}
                    {% if not ('hide_country' in ab_settings.header_options) %}
                        <button type="button" class="flex items-center gap-3 cursor-pointer" onclick="currencyModalRes.showModal()">
                            <img class="w-[20px] h-[20px] object-contain current_flag" src="{{ session.country.flag }}" alt="{{ session.country.code }}">
                            <span class="currency current_currency">
                              {{ session.currency.symbol }}
                            </span>
                        </button>
                        {# currency modal #}
                        {% set id = "currencyModalRes" %}
                        {% include 'components/header_curreny_modal.jinja' %}

                    {% endif %}
                    
                    {% if not ('hide_favourite' in ab_settings.header_options) %}
                      <button type="button" class="fav_icon flex items-center gap-2">
                        <svg class="stroke-current" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.4168 9.60429C42.3526 8.53971 41.0893 7.69524 39.6988 7.11906C38.3081 6.54289 36.8178 6.24634 35.3126 6.24634C33.8073 6.24634 32.3171 6.54289 30.9263 7.11906C29.5358 7.69524 28.2726 8.53971 27.2083 9.60429L25.0001 11.8126L22.7917 9.60429C20.6424 7.45494 17.7272 6.24744 14.6876 6.24744C11.6479 6.24744 8.73276 7.45494 6.58341 9.60429C4.43406 11.7537 3.22656 14.6688 3.22656 17.7085C3.22656 20.7481 4.43406 23.6633 6.58341 25.8127L8.79174 28.021L25.0001 44.2292L41.2083 28.021L43.4168 25.8127C44.4813 24.7486 45.3258 23.4852 45.9021 22.0946C46.4781 20.7041 46.7748 19.2136 46.7748 17.7085C46.7748 16.2033 46.4781 14.7128 45.9021 13.3223C45.3258 11.9318 44.4813 10.6684 43.4168 9.60429Z"  stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>{{ _("Favorite") }}</span>
                      </button>
                    {% endif %}
                    {% if not ('hide_darkMode' in ab_settings.header_options) %}
                      {# Dark and Light mode #}
                      <div class="flex gap-2">
                        <div class="w-[32px] h-[32px]">
                          {% include 'components/header_dark_mode.jinja' %}
                        </div>
                          <span class="dark_mode_text cursor-pointer">
                            {% if session.mode == "dark" %}
                              {{ _("Night Mode") }}
                            {% else %}
                              {{ _("Sun Mode") }}
                            {% endif %}
                          </span>  
                      </div>
                    {% endif %}
                    
            </div>
        </div>
      </div>