<div class="flex flex-col gap-3">
   <h3 class="tab whitespace-nowrap text-base sm:text-lg font-bold text-center">{{ _("Questions") }}</h3>
   {% if questions|length > 0 %}
     <div class="flex justify-between items-center flex-wrap gap-3">
        <h3 class="text-lg sm:text-xl font-bold">{{ _("Questions") }}</h3>
        <button class="text-primary text-xl sm:text-2xl" onclick="add_question.showModal()">{{ _("Add Question") }}</button>
      </div>
      {% for question in questions[:4] %}
              <div class="review flex flex-col sm:flex-row flex-wrap justify-between gap-2">
                  <div class="flex flex-col gap-2 ">
                    <span class="text-base sm:text-lg font-medium">{{ question.name }}</span>
                    <div>
                       {{ question.email }}
                    </div>
                  </div>
                  <div class="flex flex-col gap-2">
                    <p class=" text-lg leading-8 text-base-content font-bold">{{ question.question }}</p>
                    <div class=" text-sm leading-8 text-base-content">{{ question.answers[0].answer }}</div>   
                  </div>
                  <div class="card-date user-review-date text-sm font-light">
                      {{ format_datetime(question.created_at) }}
                  </div>
                 
                </div>
      {% endfor %}
      {% if questions|length >= 5 %}
        <div>
           <a href="/products-questions?id={{ product.id }}" class="btn btn-primary self-start">{{ _("All Questions") }}</a>
        </div>
      {% endif %}
  {% else %}
    <div class="flex flex-col items-center gap-3">
      <button class="text-primary text-lg sm:text-xl" onclick="add_question.showModal()">{{ _("Add Question") }}</button>
      <h3 class="font-bold text-lg">{{ _("No questions yet") }}</h3>
      <span class="font-light">{{ _("Add your question, and we will reply as soon as possible") }}</span>    
    </div>
  {% endif %}

</div>