
<dialog id="add_question" class="modal">
  <div class="modal-box ">
    <div class="modal-action mt-0 ">
       <h3 class="text-lg sm:text-xl font-bold w-full text-center">{{ _("Add Question") }}</h3>
      <form method="dialog">
        <button type="button" class="closeModalProduct">
          <svg
            class="stroke-current"
            width="25"
            height="25"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.9994 45.8333C36.4577 45.8333 45.8327 36.4583 45.8327 25C45.8327 13.5417 36.4577 4.16667 24.9994 4.16667C13.541 4.16667 4.16602 13.5417 4.16602 25C4.16602 36.4583 13.541 45.8333 24.9994 45.8333Z"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M19.1035 30.8958L30.8952 19.1042"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M30.8952 30.8958L19.1035 19.1042"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </form>
    </div>
    <div class="flex flex-col gap-3 add-question-section my-5">
   <!-- Form -->
   <form id="addQuestionForm" class="flex flex-col items-center gap-3">

       <label class="input input-bordered flex items-center gap-2 w-full">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
          </svg>
          <input type="text" class="grow" placeholder="{{ _("Name") }}" name="name"/>
      </label>
      <label class="input input-bordered flex items-center gap-2 w-full">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
              <path
              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
          </svg>
          <input type="email" class="grow" placeholder="{{ _("Email") }}" name="email" />
      </label>
      <textarea placeholder="{{ _("Write your comment") }}" name="question" class="textarea textarea-bordered textarea-md w-full  input-review-comment"></textarea>
      <div class="form-control">
          <label class="label cursor-pointer justify-start gap-2">
            <input type="checkbox"  class="checkbox is_review_customer_anonymous" name="is_anonymous" />
            <span class="label-text">{{ _("Do not show my name in the questions list") }}</span>
          </label>
       </div>    
       <button type="submit" class="btn btn-primary  relative add-review-btn" >
           {{ _("Send") }}
           <span class="add-review-progress loading loading-infinity loading-sm hidden absolute left-[15px] top-1/2 -translate-y-1/2"></span>
       </button>     
   </form>
</div>

  </div>
</dialog>
<script>
         // handle notify me when product outofstock
        document
        .getElementById('addQuestionForm')
        .addEventListener('submit', function (event) {
          event.preventDefault(); // Prevent the default form submission
          const button = this.querySelector('button[type="submit"]');
          const loadingIndicator = button.querySelector('.loading');
          const form = event.target;
          const formData = new FormData(form);
          const data = {};
          formData.forEach((value, key) => {  
              data[key] = value.trim();
           
          });
           // Validation: Check if required fields are present
          const { name, email, question } = data;

          if (!name || !email || !question) {
            alertMessage('{{ _("Please fill in all fields") }}', 'error');
            return;
          }
          sendProductQuestion(data);
          async function sendProductQuestion(data) {
              // Show the loading overlay
              loadingIndicator.classList.remove('hidden');

              try {
              const response = await fetch(`/api/v1/questions/products/{{ product.id }}/submit`, {
                  method: 'POST',
                  headers: {
                  'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
              });

              // Check if the response is not OK (i.e., 2xx status code)
              if (!response.ok) {
                  const errorText = await response.text();
                  alertMessage(errorText, 'error');
                  
              }

              const responseData = await response.json();
              if (responseData.status === 'success') {
                  alertMessage('{{ _("Successfully sent") }}', 'success');
                  form.reset();
              } else {
                  alertMessage(responseData.data.message, 'error');
              }
              } catch (error) {
                  alertMessage(localsLayout.error, 'error');
              } finally {
                  loadingIndicator.classList.add('hidden');
              }
          }
        });


</script>