<div tabindex="0" class="collapse  collapse-arrow">
  <input type="checkbox" class="peer" checked/>
  <div class="collapse-title text-xl font-medium">{{ _("Sort By") }}</div>
  <div class="collapse-content">
    <div tabindex="0" class="collapse collapse-arrow w-[172px] bg-base-100">
      <input type="checkbox" class="peer" />
      <div class="collapse-title text-sm sm:text-base font-medium">
          {% if requestGet('sort_by') == 'popularity_order' %}
              {{ _("Most Popular") }}
          {% elif requestGet('sort_by') == 'price' and  requestGet('order') == 'asc'%}
              {{ _("Lowest Price") }}
          {% elif requestGet('sort_by') == 'price' and  requestGet('order') == 'desc'%}
              {{ _("Highest Price") }}
          {% else %}
              {{ _("Latest") }}
          {% endif %}
      </div>
      <ul class="collapse-content flex flex-col gap-3">
           <li>
                <a class="text-base-content" href="{{ session.url.include_query_params(sort_by='created_at', order='desc') }}">
                    {{ _("Latest") }}
                </a>
            </li>
            <li>
                <a class="text-base-content" href="{{ session.url.include_query_params(sort_by='popularity_order', order='asc') }}">            
                  <span> {{ _("Most Popular") }}</span>
                </a>
            </li>
            <li>
                <a class="text-base-content" href="{{ session.url.include_query_params(sort_by='price', order='asc') }}">           
                  <span> {{ _("Lowest Price") }}</span>
                </a>
            </li>
            <li>
                <a class="text-base-content" href="{{ session.url.include_query_params(sort_by='price', order='desc') }}">       
                  <span> {{ _("Highest Price") }}</span>
                </a>
            </li>
      </ul>
    </div>
   
  </div>
</div>

{% for index,attribute in products.filters.attributes %}
  {% if attribute.name == "اللون" or  attribute.name == "color" %}
    <div tabindex="0" class="collapse  collapse-arrow">
        <input type="checkbox" class="peer" checked/>
        <div class="collapse-title text-xl font-medium">{{ attribute.name }}</div>
        <div class="collapse-content flex flex-wrap gap-3 attibute-values">  
           {% for attr in attribute.data %}
              <div class="attribute color-attribute w-[30px] h-[30px] rounded-full cursor-pointer"  style="background-color:{{ attr.type_value }}" data-atributeValue="{{ attr.value }}"></div>
           {% endfor %}
        </div>
    </div>
  {% else %}
   <div tabindex="0" class="collapse collapse-arrow">
        <input type="checkbox" class="peer" />
        <div class="collapse-title text-xl font-medium">{{ attribute.name }}</div>
        <div class="collapse-content flex flex-wrap gap-3 attibute-values">  
           {% for attr in attribute.data %}
              <div class="attribute global-attribute min-w-[60px] min-h-[60px] rounded-lg text-base sm:text-lg text-base-content bg-base-100 flex items-center justify-center font-bold cursor-pointer" data-atributeValue="{{ attr.value }}" name="{{ attribute.name  }}">
                {{ attr.value }}
              </div>
           {% endfor %}
        </div>
    </div>
  {% endif %}
{% endfor %}

<div tabindex="0" class="collapse rengeSLiderCon collapse-arrow w-full">
  <input type="checkbox" class="peer" checked />
  <div class="collapse-title text-xl font-medium w-full">
    {{ _("Price") }}
  </div>
  <div class="collapse-content flex flex-wrap gap-3 w-full">  
    <div id="sliderRenge" class="mt-3 w-full slider-range"></div> <!-- Ensure this is full width -->
    <div class="flex gap-2 mt-3 w-full">
      <input type="number"class="input input-bordered flex-1 w-full input-sm input-range-lower" id="inputRengeLower"/>
      <input type="number"class="input input-bordered flex-1 w-full input-sm input-range-upper" id="inputRengeUpper"/>
    </div>
  </div>
</div>

<a href="/products" class="btn btn-primary mx-[16px]">{{ _("Clear Filter") }}</a>
