<section section-id="{{ sectionId }}" class="gallery layout text-base-content my-5 lg:my-8">
<div class="grid  grid-cols-1 sm:grid-cols-4 auto-rows-auto grid-flow-dense gap-[6px]">
        {% for key,item in settings.images %}
          {% if key == 0 %}        
           <a class="row-auto col-auto sm:row-span-2 sm:col-span-2"   href="{{ item.url }}">
                <div class="card bg-base-100 image-full w-full h-full shadow-xl rounded-3xl z-[1]">
                  <figure>
                    <img
                      src="{{ item.image }}"
                      alt="image"  class="w-full  object-top"/>
                  </figure>
                  <div class="card-body justify-end">
                    <h2 class="card-title  font-bold text-lg sm:text-2xl">{{ item.title_one }}</h2>
                    <span class="text-light text-base sm:text-lg">{{ item.title_two }}</span>
           
                  </div>
              </div>
            </a>
          {% endif %}
          {% if key == 1 %}        
  <a class=""  href="{{ item.url }}">
                <div class="card bg-base-100 image-full w-full h-full shadow-xl rounded-3xl z-[1]">
                  <figure>
                    <img
                      src="{{ item.image }}"
                      alt="image"  class="w-full object-top"/>
                  </figure>
                  <div class="card-body justify-end">
                   <h2 class="card-title font-bold text-lg sm:text-2xl">{{ item.title_one }}</h2>
                    <span class="text-light text-base sm:text-lg">{{ item.title_two }}</span>
           
                  </div>
              </div>            </a>
          {% endif %}
          {% if key == 2 %}        
  <a class="col-auto sm:col-span-2"  href="{{ item.url }}">
                <div class="card bg-base-100 image-full w-full h-full shadow-xl rounded-3xl z-[1]">
                  <figure>
                    <img
                      src="{{ item.image }}"
                      alt="image"  class="w-full  object-top"/>
                  </figure>
                  <div class="card-body justify-center">
                     <h2 class="card-title font-bold text-lg sm:text-2xl">{{ item.title_one }}</h2>
                    <span class="text-light text-base sm:text-lg">{{ item.title_two }}</span>
           
                  </div>
              </div>            </a>
          {% endif %}
          {% if key == 3 %}        
  <a class="" href="{{ item.url }}">
                <div class="card bg-base-100 image-full w-full h-full shadow-xl rounded-3xl z-[1]">
                  <figure>
                    <img
                      src="{{ item.image }}"
                      alt="image"  class="w-full  object-top"/>
                  </figure>
                  <div class="card-body justify-center">
                   <h2 class="card-title font-bold text-lg sm:text-2xl">{{ item.title_one }}</h2>
                    <span class="text-light text-base sm:text-lg">{{ item.title_two }}</span>
           
                  </div>
              </div>            </a>
          {% endif %}
        
          
        {% endfor %}
  </div>
</section>