<section section-id="{{ sectionId }}" class="featured_products inshalla  text-base-content my-5 lg:my-8 lazy-swiper">
    <div>
      <div class="flex flex-wrap justify-between items-center gap-3 mb-5 mt-5 px-3 sm:px-5">
        <h2 class="text-[18px] sm:text-5xl leading-[2rem] sm:!leading-[3.25rem]  font-bold">{{ settings.title }}</h2>
        <a class="btn btn-primary !text-xs sm:text-base special_btn" href="{{  settings.btn_url }}">{{ settings.more_text }}</a>
      </div>
        <div class="relative">
          <div class="absolute  top-1/2 -translate-y-1/2">
            <img src="{{ 'swipe.svg' | asset_url }}" alt="image" class="w-[30px] h-[30px] object-contain">
          </div>
          <div class="swiper home_featured_products">
              <div class="swiper-wrapper  items-stretch ">
                    {% for product in settings.products.results %}
<div class="swiper-slide h-auto">
    <div class="h-full">
        {% include 'components/product-card.jinja' %}
    </div>
</div>
{% endfor %}
              </div>
        
          </div>
        </div>
    </div>
</section>
<style>
  
    .home_featured_products .swiper-slide {
      width: calc(50% - 8px); /* for 2 slides with 16px gap */
    }

  
    @media (min-width: 768px) {
      .home_featured_products .swiper-slide {
         width: calc(100% / 3);
      }
    }

   
    @media (min-width: 1024px) {
      .home_featured_products .swiper-slide {
         width: calc(100% / 5);
      }
    }
</style>
<script>

        const prs = {{ settings.products | tojson}};
 document.addEventListener('DOMContentLoaded', () => {

          const sliderImage = document.querySelector('.home_featured_products');
            if(sliderImage){
            let swiper = new Swiper('.home_featured_products', {
                slidesPerView:   2.7,
                spaceBetween: 16,
                loop: true,
                breakpoints: {
                    768: {
                        slidesPerView:  3.5 ,
                        spaceBetween: 10
                    },
                    1024: {
                        slidesPerView:  5.5,
                        spaceBetween: 10
                    }
                },
               on: {
                  slideChange: function() {
                      if (this.slides && this.slides.length > 0) {
                          const firstSlide = this.slides[0];
                          if (firstSlide) {
                              firstSlide.style.marginInlineStart = this.isBeginning ? '38px' : '0';
                          }
                      }
                  },
                  init: function() {
                      if (this.slides && this.slides.length > 0) {
                          const firstSlide = this.slides[0];
                          if (firstSlide && this.isBeginning) {
                              firstSlide.style.marginInlineStart = '38px';
                          }
                      }
                  }
              } 
            }); 
            }
 });
</script>
