{% extends "layout.jinja" %}

{% block title %} Search result {% endblock %}

{% block header %} {{ include('header.jinja') }} {% endblock %}


{% block main_content %}
    search

{% endblock %}




{% block footer %} {{ include('footer.jinja') }} {% endblock %}
